@import '../vars';

.content-wrapper {
   background-color: $orange;
   width: 100%;
   height: 250px;
   border-radius: 50px;

   box-shadow: 0px 3px 0px 0px #8e8e8edb;

   .img-wrapper {
      width: 100%;
      height: 60%;

      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
         object-position: 0px -50px;
         border-radius: 50px 50px 0px 0px;
      }
   }

   .desc-wrapper {
      height: 40%;
      font-size: 10pt;
      border-radius: 0px 0px 50px 50px;
      background-color: white;

      .title {
         color: red;
      }
   }
}
