@import 'common';


.comment-footer{
    position: fixed;
    z-index: 100;
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%);

    height: 50px;
    width: 100%;
    background-color: white;

    display: flex;

    .input-box{
        width: 100%;
        // background-color: blue;
        padding: 20px;
        border: 1px solid $main-green;
        
        &:focus{
            outline: none;
        }
    }

    .btn-send{
        width: 60px;
        background-color: $main-green;

        i{
            color: white;
        }
    }
    
}