@import "vars";
@import "mixins";

// ContentsView.vue
.cv-container {
    height: 90vh;
    overflow: hidden;
    // background-color: orange;


    // ContentsView.vue
    .cv-card-wrapper {
        margin-top: 20px;
        // background-color: blue;
        height: 90vh;
        padding-bottom: 100px;

        .card-top-wrapper {
            height: 50px;

            .title {
                text-align: center;
                font-size: 20px !important;
                margin-bottom: 2px;
            }

            .writer {
                text-align: center;
                font-size: 13px !important;
                color: gray;
            }

        }

        //CardList.vue
        .cl-container {
            padding: 20px; //전체로부터 카드를 안으로...
            padding-bottom: 100px;

            // background-color: darkcyan;
            height: 90vh;

            // 카드 한장
            // Card.vue
            .card-wrapper {
                $card_radisu : 40px; //카드의 모서를 둥글게

                background-color: white;
                border-radius: $card_radisu;
                border: 1px rgb(230, 230, 230) solid;
                box-shadow: 0px 9px 20px 0px #5656560f;

                width: 100%;
                height: 90%;
 
                display: flex;
                flex-direction: column;
                align-items: center;

                .card-content {
                    $content_h: 40vh;
                    height: $content_h;
                    width: 100%;
                    
                    img {
                        width: 100%;
                        height: $content_h;
                        object-fit: cover;
                        object-position: 0px 0px;
                    }
                    
                    iframe {
                        width: 100%;
                        height: $content_h;
                        border: none;
                    }

                    img,iframe{
                        border-radius: $card_radisu $card_radisu 0px 0px;
                        border-bottom: 1px solid rgb(199, 199, 199);
                    }
                }

                .card-desc {
                    border-radius: 0px 0px $card_radisu $card_radisu;

                    // overflow: scroll;
                    // 오버플로우 사용시 우측, 하단에 padding 생김
                    
                    width: 100%;
                    height: 60vh;
                    
                    padding: 20px;
                    
                    .desc{
                        text-align: center;
                    }
                }
            }

            // 하단 푸터
            .cl-footer {
                display: flex;
                flex-direction: column;
                position: fixed;
                z-index: 100;
                left: 50%;
                bottom: -26px;
                transform: translateX(-50%);
                margin-bottom: 25px;
                //    background-color: white;

                width: 100%;
                height: 100px;

                // 페이지네이션
                // CardList.vue
                .footer-pagination {
                    .v-pagination.v-pagination--circle {
                        margin-top: 4px; // 하단 버튼을 바닥에 붙이기 위함...
                        margin-bottom: 10px !important;

                        .v-pagination__item {
                            font-size: 3pt;
                            color: rgb(24, 24, 24);

                            &:focus {
                                outline: none;
                            }

                            min-height: 25px !important;
                            height: 25px !important;
                            min-width: 25px !important;

                            box-shadow: none !important;
                            background-color: rgb(245, 206, 107);
                            border: 2px solid rgb(255, 242, 219);

                            &--active {
                                border: 2px solid rgb(255, 242, 219) !important;
                                background-color: $orange !important;
                            }
                        }

                        .v-pagination__navigation {
                            display: none !important;
                        }
                    }
                }

                // 최하단 좌우 이동 버튼
                .footer-navi {
                    width: 100%;
                    // margin-top: 20px;
                    display: flex;

                    .left-button {
                        height: 50px;
                        background-color: #f4b740;
                        width: 50%;
                        padding-top: 12px;
                        text-align: center;

                        &:hover{
                        background-color: #ca9834;
                        }
                    }

                    .right-button {
                        background-color: #a2d646;
                        padding-top: 12px;
                        width: 50%;
                        text-align: center;

                        &:hover{
                        background-color: #8dbb3e;
                        }
                    }
                }
            }
        }


    }


    // ContentsView.vue
    .comment-modal {
        position: fixed;
        bottom: 73px;
        right: 40px;
        z-index: 200;

        display: inline;

        #btn-comment {
            width: 40px;
            height: 40px;
            border-radius: 30px;

            background-color: white;
            border: 2px solid gray;

            color: gray !important;
            font-size: 14pt;
        }
    }
}