@import 'common';

.notification-container {
    position: fixed;
    top: 55px;
    right: 50px;
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 300px;
    z-index: 10;
    padding: 20px 0px 20px 0px;

    overflow: scroll;
    // border-radius: 10px;
    border: lightgray 1px solid;
    &::-webkit-scrollbar {
        display: none;
    }

    .notification-wrapper {
        width: 100%;
        font-size: 12pt;

        .for-stripe {
            background-color: #F2F1F2;
        }

        .notification {
            width: 100%;
            padding: 6px;

            .icon-message {

                .icon1 {
                    color: black;
                }
                .icon2 {
                    color: red;
                }
                .icon3 {
                    color: rgb(255, 153, 0);
                }
                .icon4 {
                    color: red;
                }
                .icon5 {
                    color: green;
                }
                .icon6 {
                    color: blue;
                }
            }
        }

        .notificationEmpty {
            padding: 100px 40px 50px 50px;
            font-display: center;
        }
    }
}